.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 7s ease infinite;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#id-name {
  color: rgb(64, 224, 208);
}

.personal-img {
  border-radius: 50px;
}

.cards-text {
  color: rgba(22, 7, 7, 0.671);
}

a {
  border: 2px solid transparent;
  color: #ffffff;
  text-decoration: none;
  transition: border-color 0.3s;
}

a:hover {
  border-color: rgb(139, 139, 139);
}

.Connect-main {
  background-color: aqua;
  color: azure;
  border-radius: 50px;
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 7s ease infinite;
}

#Second-pvt-pic {
  border-radius: 50%; /* Changed to 50% to maintain a circular shape */
  max-width: 100%; /* Ensures the image does not exceed its parent container's width */
  height: auto; /* Allows the image to scale proportionally with its width */
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
      padding: 0 15px;
  }

  .personal-img {
      border-radius: 25px; /* Reduced border-radius for smaller screens */
  }
}
